.header {
    font-family: Helvetica, Arial, sans-serif;
    color: #3d3d3d;
    font-size: 24px;
}

.sub-header {
    font-family: Helvetica, Arial, sans-serif;
    color: #666666;
    font-size: 20px;
    text-align: center;
}

.header small,
.sub-header small {
    font-size: 16px;
    color: #666666;
    font-weight: normal;
}

.reports,
.barcamps {
    font-family: Helvetica, Arial, sans-serif;
}

.reports .report,
.barcamp-section {
    background: rgba(157, 157, 157, 0.06);
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 20px;
    position: relative;
}

.reports .time,
.barcamp-section .time {
    position: absolute;
    right: 0;
    height: 20px;
    line-height: 20px;
    color: #fff;
    padding: 0 20px;
    width: 150px;
    display: inline-block;
    text-align: center;
    font-size: 13px;
    background: #4D4D4D;
}

.hoverable {
    /*text-decoration: none;*/
}

.reports .report-container {
    margin: 28px 17px 13px;
    border: 1px solid #c7c7c7;
    border-top: 7px solid #c7c7c7;
    padding: 13px;
    background: #fff;
    box-shadow: -1px 1px 2px #ccc;
    display: block;
}

.barcamp-container {
    text-align: justify;
}

.barcamp-container.section-1 .barcamp-item {
    margin: 28px 17px 13px;
    border: 1px solid #c7c7c7;
    border-top: 7px solid #c7c7c7;
    padding: 13px;
    background: #fff;
    box-shadow: -1px 1px 2px #ccc;
}

.barcamp-container.section-3 .barcamp-item {
    margin: 28px 17px 13px;
    border: 1px solid #c7c7c7;
    border-top: 7px solid #c7c7c7;
    padding: 13px;
    background: #fff;
    box-shadow: -1px 1px 2px #ccc;
    display: inline-block;
    vertical-align: top;
    height: 150px;
    width: 196px;
}

.barcamp-item h1,
.reports .report-container h1 {
    padding: 0;
    margin: 0;
    font-size: 22px;
    color: #3d3d3d;
    font-weight: normal;
    text-align: left;
}

.barcamp-item h1 .author,
.reports .report-container h1 .author {
    font-size: 16px;
    color: #666666;
    /*color: #333;*/
}

.barcamp-item h1 small,
.reports .report-container h1 small {
    padding-top: 4px;
    display: block;
    font-size: 12px;
    color: #666666;
}
