<h1 class="header">Программа мероприятия <small>(программа не окончательная, будет пополняться)</small></h1>
<hr>
<h1 class="sub-header">День 1 <small>(суббота, 2 ноября)</small></h1>
<div class="reports">
    {% for report in reports %}
    <div class="report">
        <span class="time">{{report.start_time}} – {{report.end_time}}</span>

        <div class="report-container" style="border-color: {{report.color}} !important;">
            <h1 class="report-title">
                {{report.title}}

                {% if report.author %}
                <span class="author">({{report.author}})</span>
                {% endif %}

                {% if report.place %}
                <small>{{report.place}}</small>
                {% endif %}
            </h1>
            {% if report.content %}
            <div class="report-content">
                {{report.content}}
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<h1 class="sub-header">День 2 <small>(воскресенье, 3 ноября)</small></h1>
<div class="barcamps">
    {% for barcampSection in barcamps %}
    <div class="barcamp-section">
        <span class="time">{{barcampSection.start_time}} – {{barcampSection.end_time}}</span>

        <div class="barcamp-container section-{{barcampSection.camps|length}}">
            {% for barcamp in barcampSection.camps %}
            <div class="barcamp-item" style="border-color: {{barcamp.color}} !important;">
                <h1 class="barcamp-title">
                    {{barcamp.title}}

                    {% if barcamp.author %}
                    <span class="author">({{barcamp.author}})</span>
                    {% endif %}

                    {% if barcamp.place %}
                    <small>{{barcamp.place}}</small>
                    {% endif %}
                </h1>
                {% if barcamp.content %}
                <div class="barcamp-content">
                    {{barcamp.content}}
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
